.our-simple-step .row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.our-simple-step .row > [class*="col-"] {
  display: flex;
  padding-bottom: 20px;
}

.our-simple-step .process-card {
  height: 100%;
}
