@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");


h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif !important;
}

.subheading {
  font-family: "Montserrat", sans-serif !important;
}

body, p, a, span {
  font-family: "Roboto", sans-serif !important;
}