.breadcum::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* adjust opacity */
    background-repeat: no-repeat; /* prevents repeating */
    z-index: 0;
}
.breadcum-content {
    position: relative;
    z-index: 1;
    color: #fff;
}